body {
    background-color: #2b1414;

}
.bawah {
    background-color: #974e4e;
}
.card {
    background-color: black;
    position: relative;
    display: flex;
}
.card {
    position: relative;
    display: flex;
}
